<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key><string>com.github.letsrokk.latch.daemon</string>
    <key>BundleProgram</key><string>Contents/Library/Helpers/LATCHDaemon</string>
    <key>MachServices</key>
    <dict><key>com.github.letsrokk.latch.daemon</key><true/></dict>
    <key>RunAtLoad</key><true/>
    <key>KeepAlive</key><true/>
    <key>UserName</key><string>root</string>
    <key>GroupName</key><string>wheel</string>
    <key>ProcessType</key><string>Adaptive</string>
</dict>
</plist>
